Импорт библиотек

In [1]:
import pandas as pd
import numpy as np
from google.colab import files

Загрузка датасета титаника

In [5]:
uploaded = files.upload()
titanic_df = pd.read_csv("train.csv")

Saving train.csv to train (3).csv

Общий вид датасета

In [11]:
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Вывод основной информации о датасете

In [9]:
print(f"\ninfo data\n{titanic_df.info()}")
print(f"\ndescribe data\n{titanic_df.describe()}")
print(f"\nisnull data\n{titanic_df.isnull().sum()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

info data
None

describe data
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

isnull data
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Процент выживаемости по классам

In [13]:
survival_rate = titanic_df.groupby('Pclass')['Survived'].mean() * 100
print(f"Процент выживаемости по классам в процентах\n{survival_rate}")

Процент выживаемости по классам в процентах
Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64

Определение самого популярного мужского и женского имени на корабле (применение mode)

In [16]:
def extract_name(name):
  #Случай для женского имени, которое находится в скобках
    if '(' in name:
        return name.split('(')[1].split(')')[0].split(' ')[0].strip(' "\'')
  #Случай для мужского имени вне скобок
    else:
        return name.split('. ')[1].split(' ')[0].strip(' "\'')

titanic_df['FirstName'] = titanic_df['Name'].apply(extract_name)

male_names = titanic_df[titanic_df['Sex'] == 'male']['FirstName']
female_names = titanic_df[titanic_df['Sex'] == 'female']['FirstName']

print(f'Самое популярное мужское имя на корабле: {male_names.mode()[0]}')
print(f'Самое популярное женское имя на корабле: {female_names.mode()[0]}')

Самое популярное мужское имя на корабле: William
Самое популярное женское имя на корабле: Anna

Самые популярные мужские и женские имена по классам

In [17]:
for pclass in [1, 2, 3]:
    print(f"\nКласс {pclass}:")
    class_df = titanic_df[titanic_df['Pclass'] == pclass]
    male_name = class_df[class_df['Sex'] == 'male']['FirstName'].mode()
    female_name = class_df[class_df['Sex'] == 'female']['FirstName'].mode()
    print(f"Мужское: {male_name[0]}")
    print(f"Женское: {female_name[0]}")

Класс 1:
Мужское: William
Женское: Elizabeth

Класс 2:
Мужское: William
Женское: Elizabeth

Класс 3:
Мужское: William
Женское: Anna

Вывод части датасета с пассажирами старше 44 лет

In [18]:
titanic_df[titanic_df['Age'] > 44].head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FirstName
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,Timothy
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,Elizabeth
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,Mary
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S,Edward
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C,Myna

Вывод части датасета с мужчинами младше 44 лет

In [19]:
titanic_df[(titanic_df['Age'] < 44) & (titanic_df['Sex'] == 'male')].head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FirstName
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.250,NaN,S,Owen
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.050,NaN,S,William
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.075,NaN,S,Gosta
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.050,NaN,S,William
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.275,NaN,S,Anders

Вывод количества n-местных кабин на корабле

In [26]:
cabin_counts = titanic_df['Cabin'].value_counts().dropna()
for n in range(1, cabin_counts.max() + 1):
  if n == 1:
    print(f"Кабин с {n} человеком: {(cabin_counts == n).sum()}")
  else:
    print(f"Кабин с {n} людьми: {(cabin_counts == n).sum()}")

Кабин с 1 человеком: 101
Кабин с 2 людьми: 38
Кабин с 3 людьми: 5
Кабин с 4 людьми: 3